body{
    background-image: url(https://www.shutterstock.com/image-vector/christmas-seamless-pattern-tree-twigs-600nw-2521546645.jpg);
    background-size: 40rem;
    background-position-x: center;
}
.header {
    margin: auto;
    padding: 10px;
    width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 0.7rem 1px rgba(0, 193, 0, 0.97);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.397);
    color: rgb(255, 255, 255);
    margin-bottom: 25px;
}
.s {
    display: grid;
    grid-template-columns: auto 30% auto;
}
img {
    height: 13rem;
    display: block;
    margin: auto;
    width: 20rem;
    border: 2px, rgba(0, 0, 0, 0.368) solid;
    border-radius: 3rem;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 0.8rem 3px rgb(253, 12, 24);
}

.frame {
    border: 2px, rgba(0, 0, 0, 0.368) solid;
    border-radius: 3rem;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 128, 0, 0.751);
    box-shadow: 0 0 0.8rem 3px rgb(253, 12, 24);
}
